---
import Carta from "./Carta.astro"
// Importación de Fetch de datos 
import {getPersonajes} from '../../src/lib/personajes'


const data = await getPersonajes()


---

<section class="mt-7">
  <h2 class="text-4xl font-semibold text-center">Personajes</h2>

  <div class="grid gap-2 sm:grid-cols-2 lg:grid-cols-3">
      {
        data.map((  personaje: { ID: string; NOMBRE: string; IMAGEN: string; DESCRIPCION: string }) =>
        <Carta 
          ID={personaje.ID}
          NOMBRE={personaje.NOMBRE}
          IMAGEN={personaje.IMAGEN}
          DESCRIPCION={personaje.DESCRIPCION}

        />
        )
      }
      
  </div>

  <section></section>
</section>
